In [11]:
import numpy as np
import pandas as pd

In [20]:
df = pd.read_csv("C:\\Users\\mohak\\Desktop\\prices.csv")

In [22]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,12-09-2014,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,12-09-2014,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [23]:
df.shape

(24, 21)

In [24]:
X = df.loc[:,['bedrooms','bathrooms','sqft_living','sqft_lot','floors','waterfront','view','condition','sqft_above','sqft_basement','yr_built','yr_renovated']]

In [25]:
Y = df.loc[:,['price']]

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size = 0.2, random_state = 100)

In [28]:
from sklearn.linear_model import LinearRegression

In [29]:
model =LinearRegression()

In [30]:
model.fit(x_train,y_train)

LinearRegression()

In [31]:
y_prediction= model.predict(x_test)

In [32]:
from sklearn.metrics import r2_score

In [33]:
r2_score(y_test,y_prediction)

0.4594917812289001

In [36]:
import pickle

In [37]:
file = open('model.pkl','wb')

In [38]:
pickle.dump(model, file)